@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500&family=Roboto+Slab:wght@500&display=swap');
nav{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99;
}


.nav-name{
    color: #0aad0a;
    font-size: 26px;
    font-weight: 600;
    font-family: 'FontAwesome';
}

.dropdown-item {
    border: 0;
    clear: both;
    color: #5c6c75;
    display: block;
    font-weight: 400;
    padding: .125rem .75rem;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    width: 100%
}
.btn-search-icon{
    /* border-radius:30px ; */
    background-color: #0aad0a;
    border: none;
    padding: .25rem;
    width: 40px;
}
.form-control{
    border: none;
}
.nav-link{
    color: green;
}
.fa-bars{
    color: green;
    border: 1px solid green;
    padding: 6px 12px;
    border-radius: 4px
}