
<nav class="navbar navbar-expand-lg navbar-success bg-light">
    <div class="container">
      <a class="navbar-brand" ><h5 class="nav-name"><i class="fa-solid fa-truck-fast"></i> Fresh  Mart</h5></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa-solid fa-bars"></span>
      </button>
   
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <ul class="navbar-nav  m-auto">
      
          <ul class="navbar-nav m-auto">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/user-homepage">
               Home
                </a>         
  
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-success fw-bold"  role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Shop
              </a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item"  routerLink="/vegetables">Fruits & Vegetables</a></li>
                   <li><a class="dropdown-item" routerLink="/buns">Bekery ,Cakes & Dairy</a> </li>
                  <li><a class="dropdown-item" routerLink="/product">Snack & Bicutes</a></li>
                  <li><a class="dropdown-item" routerLink="/grain">Foodgrains,Rice & Oil </a></li>
                  <!-- <li><a class="dropdown-item" >Bevrages</a></li> -->
              
              </ul>
          </li>
         

  
          <li class="nav-item ">
              <a class="nav-link" >
             Sales
              </a>
  
          </li>
        </ul>
        </ul>
  
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" (keyup)="search($event)" >
          <button class="btn-search-icon rounded-circle"><i class="bi bi-search-heart"></i></button>
        </form> -->
        <button routerLink="/cart" class="btn btn-success" data-bs-toggle="tooltip" data-bs-html="true" title="Add To Cart" >
            <i style="font-size: 30px;float: right;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;"class="badge bg-danger"> {{totalItem}}
            </div>
        </button>&nbsp;
        <button routerLink="/wishlist" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-html="true" title="My Wishlist" >
            <i style="font-size: 30px;float: right;" class="fa-regular fa-heart"></i>
            <div style="font-size: 10px;"class="badge bg-warning"> {{totalList}}
            </div>
        </button>
      </div>
    </div>
  </nav>
