 <!-- <app-header></app-header> -->
 <!-- sales section start  -->
 <section>
    <div class="container mt-5 salessection">
        <div class="row">
            <div class="col-12 mb-6">

                <h3 class="mb-4 nav-name">Sales Sections</h3>

            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-lg-6  mb-3 mb-lg-0">

                <div style="color:#fff">
                    <div class=" rounded-3"
                        style="background:url(assets/img/grocery-banner-snak1.jpeg)no-repeat; background-size: cover; background-position: center; padding: 20px;">
                        <div>
                            <h3 class="fw-bold mb-1">Snacks & Sweets
                            </h3>
                            <p class="mb-4">Get Upto <span class="fw-bold">25%</span> Off</p>
                            <a class="btn btn-dark" routerLink="/product">Shop Now</a>
                        </div>
                    </div>

                </div>
            </div>
           
            <div class="col-12 col-lg-6 mb-3 mb-lg-0 ">

                <div>
                    <div class=" rounded-3"
                        style="background:url(assets/img/grocery-banner-bun.jpeg)no-repeat; background-size: cover; background-position: center; padding: 20px;">
                        <div>
                            <h3 class="fw-bold mb-1">Baked Buns & Cakes
                            </h3>
                            <p class="mb-4">Get Upto <span class="fw-bold">25%</span> Off</p>
                            <a href="#!" class="btn btn-dark" routerLink="/buns">Shop Now</a>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <div>
                    <div class=" rounded-3"
                        style="background:url(assets/img/grocery-banner1.png)no-repeat; background-size: cover; background-position: center; padding: 20px;">
                        <div>
                            <h3 class="fw-bold mb-1">Fruits & Vegetables
                            </h3>
                            <p class="mb-4">Get Upto <span class="fw-bold">30%</span> Off</p>
                            <a routerLink="/vegetables" class="btn btn-dark">Shop Now</a>
                        </div>
                    </div>

                </div>

            </div>
            <!-- <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <div>
                    <div class=" rounded-3"
                        style="background:url(assets/img/grocery-banner-rice.jpeg)no-repeat; background-size: cover; background-position: center; padding: 20px;">
                        <div style="color:#fff">
                            <h3 class="fw-bold mb-1" >Rice & Wheat
                            </h3>
                            <p class="mb-4">Get Upto <span class="fw-bold">30%</span> Off</p>
                            <a href="#!" class="btn btn-dark">Shop Now</a>
                        </div>
                    </div>

                </div>

            </div> -->
            <div class="col-12 col-lg-6 mb-3 mb-lg-0 ">

                <div style="color:#fff">
                    <div class=" rounded-3"
                        style="background:url(https://dam.abbott.com/en-in/articles/india/indianbeanspulseslentils_655511.jpg)no-repeat; background-size: cover; background-position: center; padding: 20px;">
                        <div  >
                            <h3 class="fw-bold mb-1">Rice & Grains
                            </h3>
                            <p class="mb-4">Get Upto <span class="fw-bold">25%</span> Off</p>
                            <a href="#!" class="btn btn-dark" routerLink="/grain">Shop Now</a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- <div class="col-12 col-lg-4 ">

                <div style="color:#fff">
                    <div class=" rounded-3"
                        style="background:url(https://t3.ftcdn.net/jpg/05/85/93/28/240_F_585932895_IEG8y1ZqRfZdlTwEg7Wg8QcMy2BbXvfr.jpg)no-repeat; background-size: cover; background-position: center; padding: 20px;">
                        <div>
                            <h3 class="fw-bold mb-1">Cold Drinks
                            </h3>
                            <p class="mb-4">Get Upto <span class="fw-bold">25%</span> Off</p>
                            <a href="#!" class="btn btn-dark">Shop Now</a>
                        </div>
                    </div>

                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- sales section end  -->
<app-service></app-service>
<!-- <app-footer></app-footer> -->