<div class="nav p-2 text-dark" style="background-color:#fff; font-family: 'Lobster', cursive;">
   <h3>
    <i class="fa-solid fa-truck-fast fs-4" routerLink="/home"></i> Fresh Mart
   </h3> 
    
</div>
<div class="container">

    <div class="row">
        <div class="col-md-6 ">
            <h1 class="d-flex justify-content-center p-2 mt-3 m-2">
                Here Only Admin Can Add The Various Category of Products
            </h1>
            <div class="d-grid gap-5 col-6 mx-auto py-3 m-4">
                <button class="btn btn-outline-danger p-3 fw-bold" type="button"  routerLink="/add-fruits" id="btn">Add Fruits <i class="fa-brands fa-apple fa-bounce fs-4"></i></button>
                <button class="btn btn-outline-success p-3 fw-bold" type="button" routerLink="/add-vegies" id="btn">Add Vegetables <i class="fa-solid fa-seedling fa-bounce fs-4"></i></button>
                <button class="btn btn-outline-primary p-3 fw-bold" type="button" routerLink="/add-product" id="btn">Add Snacks <i class="fa-solid fa-cookie-bite fa-bounce fs-4"></i></button>
                <button class="btn btn-outline-warning p-3 fw-bold" type="button" routerLink="/add-bun" id="btn">Add Bun & Cakes <i class="fa-solid fa-cake-candles fa-bounce fs-4"></i></button>
                <button class="btn btn-outline-info    p-3 fw-bold" type="button" routerLink="/add-grains" id="btn">Add Grains & Rice <i class="fa-solid fa-bowl-rice fa-bounce fs-4"></i></button>
            </div>
              <div class="d-grid gap-3 col-6 mx-auto">
               
              </div>
             
        </div>
        <div class="col-md-6">
            <img src="assets/img/addnew.png" alt="" width="660px">
            <!-- <img src="https://img.freepik.com/free-photo/portrait-beautiful-young-asian-woman-with-fruit-vegetable-grocery-basket-pink-isolated-wall_74190-13905.jpg?w=360&t=st=1689242389~exp=1689242989~hmac=67e234152f821467ac64ca7917f6d07cbf84fde47d1b21b88439d83c669552cc" alt=""> -->
        </div>

    </div>
</div>
