form{
        border-radius: 8px;
    align-items: center;
    /* text-align: center; */
    background: aliceblue;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid blue;
    color: darkslategray;
    margin-bottom: 12em;
    width:60em;
}
.container-fluid{
    background-image: url('https://img.freepik.com/free-photo/front-view-little-spicy-chips-inside-plate-light-blue-surface_140725-61660.jpg?w=740&t=st=1689313740~exp=1689314340~hmac=168bd99a3f94f92cb56f43087ccb14b8f3713fb34867b69be81dc8bf58e19c25');
    background-size: cover;
}
h1{
    background-color: #fff;
}