
<div class="container-fuild py-6 px-6">
    <div class="bgimg">
        <img src="https://img.freepik.com/free-vector/abstract-grass_1182-699.jpg?w=740&t=st=1689232209~exp=1689232809~hmac=84f40fc3a7e62bdc1e53995e5327b92393ec09596ee13572b4ee9e51d5d973a0" alt="">
        <div class="topleft">
          <p>Fresh Mart <i class="fa-solid fa-bag-shopping" style=" color: #1A5D1A"></i></p>
        </div>
        <div class="middle">
          <h1>Discover the <span style=" color: #1A5D1A"> Best Product </span>On the Market</h1>
          
          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn btn-outline-success p-2" type="button" routerLink="/login">Admin Login</button>
            <button class="btn btn-outline-primary p-2" type="button" routerLink="/user-homepage">User Login</button>
          </div>
        </div>
        <!-- <div class="bottomleft">
          <p>Some text</p>
        </div> -->
      </div>
</div>
