<app-header></app-header>
<!--Home page Banner-->
<section class="mt-5">
    <div class="container">
        <div class="row">
        <div class="img-main-banner">
    
            <div
                style="background: url(assets/img/slide-banner-2.jpeg)no-repeat; background-size: cover; border-radius: .5rem; background-position: center; height: 500px;">
                
                <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center bg-image">

                    <span class=" badges">Opening Sale Discount 50%</span>

                    <h2 class="text-dark display-5 fw-bold mt-4">SuperMarket Daily <br> Fresh Grocery </h2>
                    <p class="lead">Introduced a new model for online grocery shopping and convenient home delivery.
                    </p>
                    <a routerLink="/product" class="btn btn-dark mt-3">Shop Now <i class="bi bi-arrow-right"></i></a>
                </div>
</div>
            </div>
        </div>
    </div>
</section>

<!--Home page Banner ends-->
<app-sales></app-sales>
<app-footer></app-footer>